[2019-02-11 16:19] DylanM72 opened #1 "Integration not working for RingCentral UK Accounts"
Integration not working for RingCentral UK Accounts.

[2019-02-12 01:30] embbnux commented on #1
@DylanM72 Could you provide us more detailed information such as any error messages or screenshots?

[2019-02-12 22:02] jtterror opened #2 "Call logging not functioning"
auto log issues with U.S. pipedrive. does not log after call or when clicking or double clicking log call from the call log. if error message shows it says no contact info.

[2019-02-13 07:11] zxdong262 commented on #2
Hi @jtterror

What is your phone number, can you give one example, I would like investigate this.

[2019-02-13 12:53] jtterror commented on #2
Hello Zhao,

                The number is typically in this format 9995556666 or 19995556666. Pipe drive auto formats the number to 999-555-6666 the other 1(999) 555-6666 but there are also numbers with 999.555.6666 or 999- 555 -6666.

From: ZHAO Xudong <notifications@github.com>
Sent: Wednesday, February 13, 2019 2:12 AM
To: ringcentral/pipedrive-embeddable-ringcentral-phone-spa <pipedrive-embed

[2019-02-13 18:44] GiffordChester commented on #1
Hey @embbnux, please see attached screenshot regarding @DylanM72 concern.
![pipedriveforuk](https://user-images.githubusercontent.com/47609089/52735332-39949600-2f7c-11e9-9511-20ce2d87348a.png)

[2019-02-14 14:18] FilipinaW commented on #1
I'm in Canada, and have the same issue.  Everyone is getting above error when tyring to sign into RingCentral through this Chrome extension.

[2019-02-15 01:27] zxdong262 commented on #1
Hi @GiffordChester Can you open developer tool, give a screenshot of console log when this error happens?

[2019-02-15 02:59] zxdong262 commented on #1
@DylanM72 @FilipinaW @GiffordChester Admin confirmed it is all supported for UK/CA.
Can you send me your login username or phone number? So I can check more data about this. You can send email to drake.zhao@ringcentral.com

[2019-02-15 20:40] GiffordChester commented on #1
@zxdong262 I have the console log with me but couldn't post it here. I'll send it to you via email instead.

By the way, this is actually @DylanM72 's issue. I'm just helping out. Thanks.

[2019-02-16 17:22] embbnux commented on #1
Hi. @GiffordChester @FilipinaW are you using free RingCentral Developer account to login? Free account doesn't have enough permission to log into those integrationss in production. If you just want to test it, you can use your sandbox account. You can try `toggleEnv()` in chrome console which focus on  widget iframe, and enable toggle button and save.

[2019-02-19 13:51] FilipinaW commented on #1
I'm using our regular work RingCentral account.  Not testing anything.

[2019-02-19 13:56] embbnux commented on #1
@FilipinaW Can you check if you can login in this page https://ringcentral.github.io/ringcentral-embeddable/ . And can you show some error message from chrome developer JS console?

[2019-02-19 14:10] FilipinaW commented on #1
![2019-02-19_9-06-35](https://user-images.githubusercontent.com/47257281/53020934-093e7300-3426-11e9-909c-6287196c25ad.jpg)

I hope this is what you're asking for.

[2019-02-20 01:01] zxdong262 commented on #2
Hi @jtterror I released new version 0.3.8, can you test about this issue?

[2019-02-20 13:39] jtterror commented on #2
It seems to be more reliable as in each call it is trying to log the information but still it is not finding the contact on pipedrive.

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-20 15:36] embbnux commented on #1
@FilipinaW Can you also check network request list to show that invalid network request response

[2019-02-20 16:08] FilipinaW commented on #1
I'm not sure how to get that information for you.

[2019-02-21 02:12] zxdong262 commented on #2
@jtterror Hi,

Released new version about this issue:
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.3.9

Can you try it?

[2019-02-21 16:45] steliospapagrigoriou commented on #1
Hello, is there a solution for this? I'm getting the same problem

[2019-02-21 17:38] jtterror commented on #2
The new rev has errors under the Chrome pipedrive extension. Chrome is up to
date.

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-22 01:56] zxdong262 commented on #1
Hi @steliospapagrigoriou

Can you try the latest release, used standalone app:
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.3.10

[2019-02-22 05:44] embbnux commented on #1
@steliospapagrigoriou @FilipinaW @DylanM72 It should work now. Previous app id doesn't have  UK and CA scope. Thanks so much for feedback. Please help to check this.

[2019-02-22 12:46] steliospapagrigoriou commented on #1
cool thanks it's working now

On Fri, Feb 22, 2019 at 5:44 AM Embbnux Ji <notifications@github.com> wrote:

[2019-02-22 13:11] FilipinaW commented on #1
the previous version actually works now, but I will install the update.  thanks for correcting!

[2019-02-22 14:05] FilipinaW commented on #1
I installed new version, and now getting below error.  Any ideas?  And btw, when I was able to sign in, it was not recognizing contacts or adding call log.  Still no luck.
{
  "error" : "invalid_client",
  "error_description" : "Invalid client: undefined",
  "errors" : [ {
    "errorCode" : "OAU-153",
    "message" : "Invalid client: undefined",
    "parameters" : [ {
      "parameterName" : "clie

[2019-02-22 18:25] jtterror commented on #2
The chrome extension is still coming up with errors

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-22 18:37] jtterror commented on #2
Error is

Uncaught ()

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-22 18:37] jtterror commented on #2
Again chrome is up to date and running v3.10

Error is

Uncaught (in promise) TypeError: A phone number must either be a string or
an object of a shape {phone, [country]}

Stacktrace

Content.js:1

!function(e){var t={};function n(a)}..

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-22 19:06] jtterror commented on #2
Uncaught (in promise) error: Extension context invalidated

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2019-02-24 23:34] zxdong262 commented on #2
@jtterror So the old version works, new version does not?

[2019-02-24 23:59] zxdong262 commented on #1
@DylanM72 Sorry, released new version with fix.

[2019-02-25 01:05] zxdong262 commented on #2
Can you send me screenshot of your page when this error happens, you can cover the credential parts, I think the error happens due to phone number related problem, but I can not reproduce in my test env.

[2019-02-25 15:27] jtterror commented on #2
i sent you an email with a screenshot of pipedrive and a log file from chromes devtools

[2019-02-26 13:25] jtterror commented on #2
Right in a normal working condition it is suppose to say call logged in a popup on the left. However, instead of success it always says contact not found in its place. It simply has never logged a call even using the manual log link. Not sure if it helps but ring central does add a 1 in front of the call.

[2019-02-26 17:26] FilipinaW commented on #2
I think I have similar issue - I get 'no related contact' when trying to manually log a call, and anything automatic is not working.

[2019-03-01 01:27] zxdong262 opened #3 "New call log sync api"

[2019-03-01 02:07] #3 closed

[2019-03-01 02:42] zxdong262 commented on #2
Hi @FilipinaW All your phone numbers are just US numbers, right?

[2019-03-07 13:49] FilipinaW commented on #2
nope... we have Canadian account with all Canadian numbers.

[2019-03-18 18:27] GiffordChester commented on #2
Hello @zxdong262 do we have any updates regarding the reported issue wherein the call logging feature is not working?

We've ensured that the phone numbers are correct and without duplicates but we're still getting a "No contact related" pop-up on the left side. We also tried using different phone number formats e.g. 0123456789, +44234567890 but to no avail. However, using a US account works fine

[2019-03-18 19:16] FilipinaW commented on #2
We also had no luck with the Canadian account.  On top of it it almost looks like the sign on times out and I'm not able to sign back in.

[2019-03-19 01:07] zxdong262 commented on #2
@FilipinaW @GiffordChester I am going to get a CA account to test more.

[2019-03-19 02:22] zxdong262 commented on #2
@FilipinaW @GiffordChester https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.3.13 Can you try this, should fix now.

[2019-03-19 12:22] FilipinaW commented on #2
I'm trying to add a call from yesterday by clicking on "log to pipedrive" - and nothing happens.

[2019-03-20 07:32] zxdong262 commented on #2
@FilipinaW Do the call you clicked has a contact name or just phone number?

[2019-03-20 12:10] FilipinaW commented on #2
I just tried different entries from the log - it's inconsistent.  sometimes prompt appears, sometimes nothing happens.  In cases where prompt appears, it's still not matching the call against any contacts.

[2019-03-21 23:02] LordMegatron91372 opened #4 "Ring Central chrome extension for pipedrive not functioning correctly"
1. When a call comes in to ringcentral widget for pipedrive, it redirects the page to the deal page, even if you are editing a file.

2. When a call comes into ringcentral widget for pipedrive, the contact page only displays half way, cant see the name.

[2019-03-25 14:28] DylanM72 commented on #2
@GiffordChester @zxdong262 UK Account of RingCentral & Pipedrive - Logging issues are still happening, and calls are not being logged or matched to any contact.

[2019-03-26 01:36] zxdong262 commented on #2
@DylanM72 Are you using the lastest release?

[2019-03-26 01:54] zxdong262 commented on #4
Hi @LordMegatron91372

Thank you for the feedback, Released new version to fix the UI , related to problem 2, for problem 1, I can not reproduce, can you provide more detail about how to reproduce this, and any case this do not happen?

[2019-03-26 01:55] zxdong262 commented on #1
Fixed

[2019-03-26 01:55] #1 closed

[2019-03-26 03:15] LordMegatron91372 commented on #4
Thank you for the fix, but a few more bugs.

1) When deal opens up on the browser when a call comes in , the deal is not opening fully so we can see the entire deal, left and right margins are not set wide enough.

2) When there is over 10 minutes of inactivity the widget will time out and give a red warning box on top of widget that reads Session Expired.

3) Is there a way to stop the browser fr

[2019-03-26 14:59] FilipinaW opened #5 "RingCentral chrome extension not functioning for a Canadian account"
I figure I will open a separate ticket, as my issues were piggy-backing on other tickets - and some of them are being closed.  This extension is not working for me at all.  I can sign in now, but nothing else is working.  Customer information is not displayed when call comes in.  Can't add calls from the log either as it's not finding a match (no related contact).  We would love for this extension

[2019-03-26 15:02] FilipinaW commented on #5
I can make calls and send SMS from the chrome extension - that's the only 2 items that work.

[2019-03-26 18:26] FilipinaW commented on #5
Also, session expires and goes into offline mode with no option to sign back in.

[2019-03-26 23:42] zxdong262 commented on #4
Hi @LordMegatron91372 about 3, I can not reproduce this in my Chrome, can you reproduce it in Incognito window?

[2019-03-26 23:45] zxdong262 commented on #5
Hi @FilipinaW Can you auth to access pipedrive contacts? And could you give some phone number format you use(not real number), I will try to reproduce this.

[2019-03-27 02:18] LordMegatron91372 commented on #4
can you produce #4?

[2019-03-27 12:12] FilipinaW commented on #5
I authorized twice - once on sign in screen (it's the second screen after I enter my credentials), and then when I try to add manually to the log - it asked again the first time i do it.  The phone number format in Pipedrive is (012)345-6789.  the phone number format in the pop up RC app from the chrome extension is (012) 345-6789 - there is an extra space after second bracket.   When i try to add

[2019-04-01 18:37] DylanM72 commented on #2
Hello @zxdong262 we've tried using version 0.3.14 but we're still not getting the calls logged and it's not matching to a record as well.

We've noticed that the version on the integrated pop-up shows version 0.2.0. Should this be the correct version? Please do note that we're using a RingCentral UK account and the phone numbers are in +44xxxx or 0xxxxx format.

[2019-04-03 21:06] LordMegatron91372 commented on #4
ALSO in the ring central widget, there are some names (Contacts) that dont come up from pipedrive, is there a fix for this

[2019-04-03 21:09] zxdong262 commented on #4
@LordMegatron91372 Did you applied the pipedrive filter?

[2019-04-03 23:05] LordMegatron91372 commented on #4
It only gives me the option of authorization of Pipedrive

Sent from my iPhone 5

[2019-04-04 00:45] zxdong262 commented on #4
<img width="307" alt="Screen Shot 2019-04-04 at 8 43 46 AM" src="https://user-images.githubusercontent.com/1641949/55522020-cd99f880-56b5-11e9-9c61-fd5a17904aad.png">

[2019-04-04 02:03] LordMegatron91372 commented on #4
Yes the filter is on all

Sent from my iPhone 5

[2019-04-04 02:23] zxdong262 commented on #4
@LordMegatron91372 Only when set the filter to pipedrive, it will show only pipedrive contacts.

[2019-04-04 02:38] LordMegatron91372 commented on #4
Tried that, but some contacts still not showing

Sent from my iPhone 5

[2019-04-04 02:43] zxdong262 commented on #4
@LordMegatron91372 How many contacts do you have?

[2019-04-04 02:56] LordMegatron91372 commented on #4
Around 120

Sent from my iPhone 5

[2019-04-04 12:21] FilipinaW commented on #5
Hi @zxdong262 - just wondering if you had any progress with troubleshooting here.

[2019-04-05 07:14] zxdong262 commented on #5
@FilipinaW Sorry for the delay, next week I will check this.

[2019-04-08 07:09] zxdong262 commented on #4
@LordMegatron91372 Released new version, can you try it, and let know how it works, thank you.

https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.2

[2019-04-08 07:10] zxdong262 commented on #5
@FilipinaW  Released new version, now session timeout is 7 days, and support full contacts sync, can you try it, and let know how it works, thank you.

https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.2

[2019-04-08 16:50] LordMegatron91372 commented on #4
![Screenshot (8)](https://user-images.githubusercontent.com/48811144/55742081-d57ed300-59fc-11e9-82e0-bb65829a529b.png)

[2019-04-08 18:57] FilipinaW commented on #5
Unfortunately the extension is still not recognizing/matching any numbers to any contacts.

[2019-04-09 01:30] zxdong262 commented on #5
@FilipinaW Can you post the screenshot of Chrome console log here when you try add call log, I would like to see if there is some error happens which I can not reproduce.

[2019-04-09 01:54] zxdong262 commented on #4
Add scrolls to the popup

https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.3

[2019-04-09 02:29] zxdong262 commented on #4
Hi @LordMegatron91372 how is the call log sync working?

[2019-04-09 03:36] LordMegatron91372 commented on #4
![Screenshot (9)](https://user-images.githubusercontent.com/48811144/55771693-0be93c00-5a57-11e9-8f5a-20a0f175f04c.png)
This is the error i get when trying to load extension for 4.3 version

[2019-04-09 03:46] LordMegatron91372 commented on #4
I fixed the last issue, thank you for making it scrollable but the width of the popup is still not wide enough for my agents to see all deal info, please make popup fill the size of the monitor (Screen)

[2019-04-09 05:43] zxdong262 commented on #4
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.4 Now fullscreen width.

[2019-04-09 12:31] FilipinaW commented on #5
![image](https://user-images.githubusercontent.com/47257281/55800468-d0279400-5aa1-11e9-83a8-61457281107b.png)

[2019-04-09 12:32] FilipinaW commented on #5
You can see in the background that it's an existing number for one of our contacts. yet I get below error:
![image](https://user-images.githubusercontent.com/47257281/55800537-f2b9ad00-5aa1-11e9-81d1-74116b2d5290.png)

[2019-04-09 12:35] FilipinaW commented on #5
![image](https://user-images.githubusercontent.com/47257281/55800726-6491f680-5aa2-11e9-98c9-248f21e475c5.png)

[2019-04-09 12:38] FilipinaW commented on #5
![image](https://user-images.githubusercontent.com/47257281/55800899-c9e5e780-5aa2-11e9-8edb-9d7d50ffdef7.png)

[2019-04-10 07:23] incognitozen opened #6 "Stuck at Syncing & Wont Update Calls."
I got

Latest Chrome Extension 0.44
Ringcentral Log in to the widget works fine.

When making calls , it doesnt recognise the contact. Further the Pipe drive button stuck at syncing. I do have a very large number of contacts. Close to 20K.

On Console

app.js:1 Time out
(anonymous) @ app.js:1

[2019-04-10 07:23] incognitozen commented on #6
Also won' sync calls into the Pipedrive system.

[2019-04-10 08:21] zxdong262 commented on #6
@incognitozen Before it finish syncing, nothing will work. 20k, it may take some time to sync all contacts, can you wait it to finish syncing? and watch the console, to see if there is any errors, post the logs here if possible.

[2019-04-10 15:33] derrickb1982 commented on #6
I am having the same issues

[2019-04-10 17:52] LordMegatron91372 commented on #4
4.4  fixed all the above issues, thank you for the prompt response and fixes.

i have requests

1. Click to Call in Pipedrive does not work, when i click on a number to make a call it will let me choose the phone # but when i tap on the phone # it will not initiate the call on my RING CENTRAL DESKTOP APP. It starts on the widget and then  it disappears.

2. Can you make the popup ring central widg

[2019-04-10 19:36] derrickb1982 commented on #6
it is definitely the amount of contacts, I have tried on other users with less and it works fine. Is there a way to have it auto log to Deal as well? it seems to only log to people and organization

[2019-04-11 01:18] zxdong262 opened #7 "Is there a way to have it auto log to Deal as well? it seems to only log to people and organization"
Is there a way to have it auto log to Deal as well? it seems to only log to people and organization

_Originally posted by @derrickb1982 in https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/issues/6#issuecomment-481832455_

[2019-04-11 03:11] incognitozen commented on #6
Hey @zxdong262

Thanks for the quick response. I have been waiting over a day and it still is stuck at syncing.
Is there perhaps a method that I can use to expediate the syncing ?
Or perhaps we can introduce a mechanism to allow for small batch syncing ? Perhaps a 100 record sync first before it keeps going ?

[2019-04-11 03:12] incognitozen commented on #7
This was going to be my next questions. At this moment it only sycns to contacts and not to the deals. I am afraid this makes it hard to view everything under one deal.

[2019-04-11 05:54] zxdong262 commented on #6
@incognitozen Thank you for the feedback, I will find a solution about this.

[2019-04-11 18:11] derrickb1982 commented on #7
I noticed the time stamp seems to be off, it always puts the time called as sometime early in the morning not the actual time of the call. also is there a way to auto sync/ attach the call recording as well?

[2019-04-17 06:40] zxdong262 commented on #6
@incognitozen Released new version. Now it will load contacts in background, feed first 100 contacts first, before the full load, the contacts not loading will not be available. In left bottom corner there will be a sync text: loading contacts.

https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.6

[2019-04-17 19:35] derrickb1982 opened #9 "Time Stamp of Call Off"
is it possible to have the call activity log to Deals?

[2019-04-17 19:37] derrickb1982 commented on #9
time stamp is off when it logs the call

[2019-04-17 19:48] FilipinaW commented on #5
Any ideas on how to make this work for Canadian accounts?

[2019-04-18 01:47] zxdong262 commented on #5
@FilipinaW Sorry, I can not access CA accont yet, it may take some time to test this.

[2019-04-23 01:40] zxdong262 commented on #9
Can you explain this in detail? I do not understand it.

[2019-04-23 01:49] zxdong262 commented on #5
[pipedrive-embeddable-ringcentral-phone-0.4.8b1.zip](https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/files/3105454/pipedrive-embeddable-ringcentral-phone-0.4.8b1.zip)

Hi @FilipinaW

I build a special version with detailed console log, which will show why it do not match, Can you try this one? and send me the log? you can send it to drake.zhao@ringcentral.com.

[2019-04-23 03:41] derrickb1982 commented on #9
it’s not accurately recording the proper time the call was made, usually off by hours

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ZHAO Xudong <notifications@github.com>
Sent: Monday, April 22, 2019 6:40:20 PM
To: ringcentral/pipedrive-embeddable-ringcentral-phone-spa
Cc: Derrick Brown; Author
Subject: Re: [ringcentral/pipedrive-embeddable-ringcentral-phone-sp

[2019-05-01 14:34] derrickb1982 commented on #7
any updates on logging the call to deal?

[2019-05-01 14:36] derrickb1982 commented on #9
any updates on fixing the call time issue?

[2019-05-02 00:58] zxdong262 commented on #9
@derrickb1982 Sorry for the delay, I checked again seems nothing wrong, I guess it is because the timezone problem, since the activity creation only support `hh:mm` for time, so it will use the timezone when you do sync operation, not the timezone the made the call, can you confirm about this?

[2019-05-02 01:01] zxdong262 commented on #7
@derrickb1982 Sorry for the delay, seems need more work to make it work, maybe two weeks.

[2019-05-07 07:04] incognitozen commented on #9
Unfortunately no.

It seems that the time log for me is delayed by 2 hours.

So for an example, I am in AEST time Zone Melbourne.
I called at 5:01 PM.
The system did not immediately log the call but in the next 5 mins logged it at 3:01PM

[2019-05-07 07:06] incognitozen commented on #6
Yes this is working and is working well. I think this issue can be closed.

[2019-05-07 07:06] #6 closed

[2019-05-07 07:35] incognitozen opened #10 "Logging to right person."
It looks like the calls are logged to the same person despite them not having the phone number.

![callog](https://user-images.githubusercontent.com/32048201/57281496-6f19cd00-70ee-11e9-9673-032f08b58282.png)

[2019-05-07 07:49] zxdong262 commented on #10
How about the from number, is it in pipedrive contacts?

[2019-05-07 10:59] incognitozen commented on #10
Hey @zxdong262

The calls are all to different numbers but they are all logged to the same person.

So I called 3 different people with three different numbers +61433647772 , +61352216044, +61419099968 but they are all logged to this same person instead of being logged in 3 different people. Hope that makes sense.

[2019-05-07 11:51] zxdong262 commented on #10
@incognitozen I mean the caller number is in contact list, is it? If so, the log would find the match, and sync to this caller as expected.

[2019-05-07 12:03] zxdong262 commented on #9
@incognitozen Thank you for the feedback, I will check this again.

[2019-05-08 04:47] incognitozen commented on #10
@zxdong262 - Yes the called number is in the pipedrive as a contact and linked to another person. However since yesterday all the calls are being logged into one single person regardless of whether they have the phone number or not.

[2019-05-08 09:04] zxdong262 commented on #10
I will release a new version to support sync to caller and callee. @incognitozen Thank you for the feedback.

[2019-05-08 14:58] FilipinaW commented on #5
Hi, any progress with the info i sent you?

[2019-05-09 01:02] zxdong262 commented on #5
@FilipinaW Sorry for the delay. Still need more test, maybe next week.

[2019-05-09 09:12] zxdong262 commented on #10
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.10
@incognitozen Now support sync to all matched contacts, let me know how it works.

[2019-05-15 06:50] zxdong262 commented on #9
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.4.12

I think I fix this now, can you try it?

[2019-05-28 18:12] derrickb1982 commented on #7
any update?

[2019-05-28 22:26] zxdong262 commented on #7
@derrickb1982 Sorry for the delay, maybe next week.

[2019-06-06 05:09] zxdong262 commented on #7
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.5.0

@derrickb1982 Released with syncing to deal feature.

[2019-06-06 17:44] derrickb1982 commented on #7
@zxdong262 I tried the new release and still only logs to Org and Person not the Deal, the time stamp for recording the call seems to be off 7 hours, example if I call at 10 am it will show that I called at 3 am instead thanks for your help

[2019-06-10 05:56] zxdong262 commented on #7
@derrickb1982 Are you in same timezone when you make the call and do the sync? Pipedrive do not provide timezone option when log call event, so if you do these two action in different timezone, it could cause this.

[2019-06-10 06:33] zxdong262 commented on #7
@derrickb1982 Can you provide a HAR file when syncing? In my test account it do works. maybe there is some problem I do not know. You can send to drake@ringcentral.com if you can.

[2019-06-19 08:30] iivanradvfn opened #11 "Ring Central not showing activities/outbound calls in pipedrive"
When I make a call using the Ring Central chrome plugin, the log doesn't appear in activities in pipedrive.

[2019-06-25 09:49] karaghl commented on #2
Having same issue but it works if i change the number in the contact to +447799.....

But otherwise its saying no contact related.

also, does it logg missed calls?

[2019-07-01 02:03] zxdong262 commented on #11
@iivanradvfn Sorry missed the message, can you check this: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137 to see if it solves your problem.

[2019-07-09 18:15] better125 opened #12 "ringcentral and pipedrive - call time not properly synced"
Hi.
When making a call, the time that is registered in pipedrive is minus 4 hrs.

Time in my computer setting is correct (mac) and time in pipedrive is correct. Time in my ringcentral phone system is also correct.

For more details of the case, please see  case 09017934 managed by Theresa Binalla

Thanks.

[2019-07-09 23:54] zxdong262 commented on #12
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.5.4 Please try the latest release, should fix now, thank you for the feedback.

[2019-07-09 23:54] #12 closed

[2019-07-09 23:54] zxdong262 commented on #9
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.5.4 Please try the latest release, should fix now, thank you for the feedback.

[2019-07-09 23:54] #9 closed

[2019-07-10 00:59] better125 commented on #12
Yes. It works now.

Thank you!

Edward A. Rodriguez
Conferencista * Coach *  Autor
http://www.EdwardRodriguez.com

On Tue, Jul 9, 2019 at 7:54 PM ZHAO Xudong <notifications@github.com> wrote:

[2019-07-10 17:16] ivydrake commented on #7
Hi, I work with @derrickb1982, the new 0.5.4 update fixed the time stamp issue! Thank you so much!! We still can not get the call log it to auto log to the deal. It only posts to the person and org. Any updates that could fix this?

[2019-07-17 00:19] CB1212 opened #13 "RingCentral popup not showing in Pipedrive"
We have followed the instructions of uploading the zip file in Chrome as an extension, however when we go to our Pipedrive (as per the last step in the instructions), it doesn't pop up with the RingCentral window as expected.

In the RingCentral Google Chrome extension error log, it gives the error:
Unchecked runtime.lastError: Could not establish connection. Receiving end does not exist.
Context

[2019-07-17 01:54] zxdong262 commented on #13
Did you load dist folder as unpacked package? @CB1212

[2019-07-17 04:31] CB1212 commented on #13
Yes, we clicked on 'Load Unpacked' in developer mode in the Extensions tab in Chrome. That is correct, right?

[2019-07-17 05:43] zxdong262 commented on #13
Can you see this in your pipedrive.com?
<img width="1438" alt="Screen Shot 2019-07-17 at 1 40 42 PM" src="https://user-images.githubusercontent.com/1641949/61350061-dabfa980-a898-11e9-9915-f30cee2eb2c7.png">

[2019-07-17 21:56] CB1212 commented on #13
Hi @zxdong262 ,

Thanks for your help. Unfortunately the icon you mentioned isn't showing:
![image](https://user-images.githubusercontent.com/52982594/61414507-7a307b00-a931-11e9-9f00-59752cfca4bc.png)

[2019-07-18 00:52] zxdong262 commented on #13
Can you try the latest release? If still not working, we can set up a meeting to see what is problem, just tell me your timezone and available time, I will set the meeting.

[2019-07-18 00:55] CB1212 commented on #13
Hi @zxdong262 , I believe we're already using the latest release, which is what's in the image below:
![image](https://user-images.githubusercontent.com/52982594/61421411-57f72700-a94a-11e9-84b3-77733c9cbdca.png)

Are you available at 7am AEST (Melbourne, Australia time) on Friday 19 July? It would be ideal if you could join us on that call to assist, as we already have a call booked to discuss th

[2019-07-19 06:37] lendhalo commented on #11
I am having this problem trying to see activities/outbound calls or being able to see the note feature next to calls. When I follow the instructions from the link above, I do not see Pipedrive to authorize. I only see Google.

[2019-07-22 10:00] iivanradvfn commented on #11
Sorry, It didn't work, I did many tests with ringcentral support and still the same, Now I moved for another platform

[2019-07-22 10:00] #11 closed

[2019-07-22 16:38] derrickb1982 opened #14 "Limit 5 Users"
Hello is it supposed to be limited to 5 users? it seems like if i put more than 5 users on it starts getting errors saying it is limited to 5 users

[2019-07-23 03:03] zxdong262 commented on #14
Yes, you can only have 5 sessions most at the same time. You can close extra pages, logout in settings to logout sessions.

[2019-07-24 07:15] #14 closed

[2019-07-25 06:45] #13 closed

[2019-07-25 06:54] zxdong262 commented on #7
@ivydrake Sorry missed the message, in my test env, it still works fine, I guess there is some situation I never know, if you can have a meeting with me, I can try to find out why it happens.

Anyway, if you can have a meeting with me next week or later, you can send your available time and your timezone to my email: drake.zhao@ringcentral.com, I will set the meeting link, any time works for me.

[2019-07-25 06:58] zxdong262 commented on #2
@karaghl Sorry missed the message, I would do more test about this next week.

[2019-07-28 18:02] msmithlp560 opened #15 "PipeDrive Contacts not pulling into RingCentral extension"
Hey All!

The RingCentral popup is displaying but the PipeDrive contacts are not populating. When I send an SMS, there is a small popout bar that appears on the left hand side that says "contact not found." This is preventing the SMS from populating into the contact.

![image](https://user-images.githubusercontent.com/53407129/62010981-24c14e80-b127-11e9-98e5-fe74c1362b66.png)

[2019-07-28 18:29] msmithlp560 commented on #15
![Ring Central](https://user-images.githubusercontent.com/53407129/62011271-f80f3600-b12a-11e9-85da-f3c12cb2eb27.jpg)

[2019-07-28 23:53] zxdong262 commented on #15
Can you check the browser console, post the screenshot or log here if possible, and how many contacts do you have?

 before it sync all contacts, call/sms log sync will not work, you can check this for more detail.

https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137

[2019-07-29 00:51] msmithlp560 commented on #15
I have probably close to 10k contacts in there. I created a new contact manually and it now populated for me, but only that contact is showing under the pipedrive section of the RC popout.

**Console Log**
import RingCentral Embeddable Voice to web page
app.js:1 u.addSelector is deprecated. Please stop use it soon before the feature is completely removed
(anonymous) @ app.js:1
app.js:1 u requires

[2019-07-29 05:41] zxdong262 commented on #15
Since you have 10k contacts, it may take minutes to finish the contacts syncing, can you click the reload contacts button to see if it can load all contacts?

If you still can not see contacts in your rc widgets, then we can have a meeting in your convenient time, to find out why, you can send email to drake.zhao@ringcentral.com with your time zone and meeting time, any time is OK.

@msmithlp560

[2019-07-29 05:42] zxdong262 commented on #15
<img width="120" alt="Screen Shot 2019-07-29 at 1 42 08 P@msmithlp560 " src="https://user-images.githubusercontent.com/1641949/62024210-b5bb2700-b206-11e9-885c-83289d2e2c37.png">
@msmithlp560 This is the reload button

[2019-07-29 15:14] FilipinaW commented on #5
Hi, I installed the latest version and the extension seems to be working now.  We see one issue though:  Pipedrive contacts are not shared across all the users - I'm only able to log calls that are for contacts I'm the owner off.   Contacts owned by other reps do not show on my Pipedrive contact list.  Is this a standard behaviour?

[2019-07-29 21:24] msmithlp560 commented on #15
@zxdong262 Sent an email this morning (PST). Looking forward to connecting with you.

The reload didn't work. It is only syncing contacts into the widget that have since been created from the date of adding the widget extension but not old data.

[2019-07-29 23:04] msmithlp560 commented on #15
When going into my Extensions in Chrome, I see an Error populating:

Content is too long to post here.

![RC pipes](https://user-images.githubusercontent.com/53407129/62088318-cd4fdb00-b219-11e9-9aca-a2a6184380aa.jpg)

[2019-07-30 00:40] zxdong262 commented on #5
@FilipinaW

It can only fetch the contacts data that your pipedrive account shows, since it uses the same api that your browser uses in pipedrive.com. If you can do it in your browser, it can be done in this extension.

Not sure what do you mean by "shared across all the users". Can you explain in more detail?

[2019-07-30 13:04] FilipinaW commented on #5
If i'm not the owner of the contact in Pipedrive, that contact is not showing listed in the extension - therefore I cannot log the call, nor it shows the right name in the call log of the extension.

[2019-07-30 13:04] FilipinaW commented on #5
![image](https://user-images.githubusercontent.com/47257281/62131344-01bea800-b2a9-11e9-8240-bac1ee8ee496.png)

![image](https://user-images.githubusercontent.com/47257281/62131359-07b48900-b2a9-11e9-94d1-ae1bcb184b67.png)

[2019-07-30 13:05] FilipinaW commented on #5
as soon as I change back the ownership to me, contact is found.  This behaviour makes the extension useless for logging as we have many people calling accounts/contacts or taking inbound calls.
![image](https://user-images.githubusercontent.com/47257281/62131452-3b8fae80-b2a9-11e9-9a62-e22b53b1b5b2.png)

[2019-07-30 20:48] zxdong262 commented on #5
@FilipinaW I see, I will try to solve this problem, thank you for the feedback.

[2019-07-31 00:09] zxdong262 commented on #15
@msmithlp560
Done, let me know if it works for you, thank you for the feedback!
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.7.0

[2019-07-31 00:10] zxdong262 commented on #5
Done, let me know if it works for you, thank you for the feedback!
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v0.7.0

@FilipinaW

[2019-07-31 01:39] msmithlp560 commented on #15
@zxdong262 Beautiful! Works like a charm -- thank you so much for your help.

[2019-07-31 14:06] FilipinaW commented on #5
Yes!  Now I can see all the contacts listed in the extension contact list.  Perfect.

[2019-08-01 01:55] zxdong262 commented on #15
Close it now, feel free to open another issue.

[2019-08-01 01:55] #15 closed

[2019-08-07 15:21] SeaFist opened #16 "No Audio"
![CaptureSamantha1](https://user-images.githubusercontent.com/48298504/62635280-fa169780-b969-11e9-8120-3b984b09ae22.PNG)
![CaptureSamantha2](https://user-images.githubusercontent.com/48298504/62635283-fb47c480-b969-11e9-9feb-5743c752ea70.PNG)

Missing Audio Option for PipeDrive

[2019-08-08 01:14] zxdong262 commented on #16
Navigating to chrome://settings/content/microphone?search=microphone in Chrome. If you see RingCentral in the "Block" list, you will have to remove it by clicking the trash can icon to the right, then quit and reopen Google Chrome, goto pipedrive to see if it popup microphone notification.

@SeaFist

[2019-08-08 14:20] SeaFist commented on #16
Hi @zxdong262 The RingCentral is not listed in the blocked list. There is nothing listed in the block list. It is blank.

[2019-08-09 00:02] zxdong262 commented on #16
@embbnux Any ideas about this?

[2019-08-13 02:04] embbnux commented on #16
Hi, @SeaFist Do you have microphone device in your computer?

[2019-08-14 13:39] FilipinaW opened #17 "History length and phone number formatting"
Hi:  right now the history in extension only shows the last 6 calls - can that be extended to show a longer list?  2nd issue is that some of the numbers do not match with contacts - I believe it might be because of phone number formatting.  What is the extension expecting?  I see one that was entered into Pipedrive with xxx-xxx-xxxx format, and the extension is not picking it up as a match.

[2019-08-14 15:01] SeaFist commented on #16
Yes, there is Mic and it is working. This is on a Windows 10 Home, Version 1803

[2019-08-14 15:26] SeaFist commented on #16
Please close this ticket. The customer prompted the setting to Calling > My RingCentral Phone.

Thank you guys.

[2019-08-14 15:26] #16 closed

[2019-08-14 20:22] FilipinaW commented on #17
actually to add 3rd issues I see:  when call is added to pipedrive the length is logged in hours instead of minutes... so my 3 minute call shows as a 3 hour call...

[2019-08-15 02:31] zxdong262 commented on #17
@FilipinaW

- Can you give a screenshot about the call length.
- About the no match problem, can you check this article: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137, xxx-xxx-xxxx format is OK.

@embbnux Do you know about the call history problem?

[2019-08-15 02:48] embbnux commented on #17
@FilipinaW @zxdong262 Now the widget only fetch recent 7 days calls from server. It is by design in our early production requirement. Need to talk with PM to support load older calls.

[2019-08-15 12:34] FilipinaW commented on #17
number formatting:  I have authorized and installed extension as it works for numbers when its only digits or (xxx) xxx-xxxx format.  As soon as I change the number to xxx-xxx-xxxx format, it is no longer matching to the contact/log.

![image](https://user-images.githubusercontent.com/47257281/63094732-3a13e680-bf37-11e9-9b5c-497031ec111d.png)

![image](https://user-images.githubusercontent.com/47

[2019-08-15 12:35] FilipinaW commented on #17
number formatting: I have authorized and installed extension as it works for numbers when its only digits or (xxx) xxx-xxxx format. As soon as I change the number to xxx-xxx-xxxx format, it is no longer matching to the contact/log.

![image](https://user-images.githubusercontent.com/47257281/63094887-a1319b00-bf37-11e9-9b64-935d62527a91.png)

![image](https://user-images.githubusercontent.com/4725

[2019-08-15 12:36] FilipinaW commented on #17
number formatting: I have authorized and installed extension as it works for numbers when its only digits or (xxx) xxx-xxxx format. As soon as I change the number to xxx-xxx-xxxx format, it is no longer matching to the contact/log.

![image](https://user-images.githubusercontent.com/47257281/63094918-c2928700-bf37-11e9-8dd1-b469dba1c49e.png)

![image](https://user-images.githubusercontent.com/4725

[2019-08-15 12:38] FilipinaW commented on #17
call log length:  it's not 7 days, there is no scrolling on the screen so it's just whatever fits on one page:
![image](https://user-images.githubusercontent.com/47257281/63094989-04bbc880-bf38-11e9-9a5b-25dd54e9b713.png)

[2019-08-15 12:43] FilipinaW commented on #17
Call length wrong:  below call was 3 minutes long ... not 3 hours:

![image](https://user-images.githubusercontent.com/47257281/63095221-bbb84400-bf38-11e9-99f6-263561b031c8.png)

[2019-08-15 16:42] embbnux commented on #17
Hi @FilipinaW It is definitely a bug. will fix it soon.
Thanks so much for feedback this.

[2019-08-16 06:05] zxdong262 commented on #17
@FilipinaW Should fixed now,  you may refresh to check it

[2019-08-16 12:43] FilipinaW commented on #17
Yes, thanks.  It's back to 7 days of history now.

[2019-08-28 16:23] SeaFist opened #18 "Response Time"
A user of PipeDrive reported to me about their usage. Here is what the users stated.

_I wanted to let you know that we unfortunately had to uninstall the plugin from PipeDrive for 2 users because it made PipeDrive incredibly slow and I wanted to report this to you in case it would help with your development efforts on this feature.

You may want to mention this to the Web Developers. I think it c

[2019-08-29 01:32] zxdong262 commented on #18
@SeaFist Thank you for the feedback, I would investigate this.

[2019-08-30 01:30] zxdong262 commented on #18
@SeaFist Could the user try disable all other extension, leave only this extension, and how is the computer's hardware, I tried in a one core cpu, 16G mem virtual linux, could not reproduce this.

[2019-09-04 12:48] FilipinaW commented on #17
Could you please provide the status for the 2 outstanding issues:  number formatting and call length that ends up in the calendar?

[2019-09-04 13:26] FilipinaW commented on #18
I experienced the same issue and thought it was Pipedrive that was at fault.  Turned off the extension, and the delay is gone.  There is definitely time delay when extension is active.

[2019-09-05 01:07] zxdong262 commented on #17
@FilipinaW Sorry for the delay, I checked, the time format is right, the 3:37 in your screenshot means 3 minutes 37 sec, not 3 hour 37 minutes, please confirm this.

[2019-09-05 01:20] zxdong262 commented on #18
@FilipinaW Can you tell me what is your hardware, like cpu, memory size?

[2019-09-05 02:07] zxdong262 commented on #17
@FilipinaW As I tested it, all formats works, can you provide some numbers that could not match and some numbers that could match? You can send to my email drake.zhao@ringcentral.com(I would not call these numbers.)

[2019-09-05 20:13] FilipinaW commented on #17
@zxdong262 for the call length.. 3 minutes should be 00:03.  If you even look at available durations in the pipedrive field dropdown - they are in 15 minute intervals:
![image](https://user-images.githubusercontent.com/47257281/64377269-1274e300-cff8-11e9-9fec-c572f52676b7.png)
 I'll send you email with examples for number formatting.

[2019-09-05 22:38] zxdong262 commented on #17
@FilipinaW I believe it is seconds, think about it, providing a eight hour duration option for phone call is not common.

[2019-09-06 16:40] jilmartin opened #19 "SMS not going out"
Hello,
I have no experience with IT but managed to integrate Ring Central into Pipedrive. Everything seems to be working fine besides SMS. The log works but the test text does not actually go through. Thank you for being patience with my ignorance.

[2019-09-16 00:42] zxdong262 commented on #19
@jilmartin Sorry for the delay, As I tested, it synced to deal as well, only requirement is the deal  must have the contact as person property, can you confirm the deal has proper contact set? If so, it is some problem I do not know, maybe you can check browser console to see if there is any errors, and post the message here or we can have a meeting to find out why(you can send your timezone, avai

[2019-09-26 00:35] zxdong262 opened #20 "Sync sms one by one"
From user's feedback

[2019-09-26 01:10] zxdong262 opened #21 "Support pager for deals list"

[2019-10-02 17:47] FilipinaW commented on #18
Windows 7 Professional
![image](https://user-images.githubusercontent.com/47257281/66068143-09a1ff00-e51b-11e9-84ce-f74b2d75dd3e.png)

It's especially slowing down the pop up screens where you log activities.

[2019-10-02 17:51] FilipinaW commented on #17
that's exactly what I'm saying.  Open up the calendar to see past calls - they all show to be hours long instead of minutes long.  I can send you plenty examples/screenshots directly to your email if it helps.

[2019-10-08 00:29] zxdong262 commented on #17
@FilipinaW Let check again about this.

[2019-10-10 08:13] zxdong262 commented on #18
I am working on a fix, should be released soon, maybe related to large contacts numbers.

[2019-10-14 05:59] zxdong262 commented on #21
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/commit/a83ac08045eff9382bbc503ee834e0476f3c524e

[2019-10-14 05:59] #21 closed

[2019-10-14 06:02] zxdong262 commented on #18
Released new version, expect this version to fix the performance issue, would like to get feedback from you, and thank you the feedback! @SeaFist

[2019-10-16 13:06] FilipinaW commented on #18
I still find it slow.  running on version 0.8.2

[2019-10-16 23:33] zxdong262 commented on #18
@FilipinaW Thank you for the feedback, I will check again.

[2019-10-17 00:46] zxdong262 commented on #17
@FilipinaW I thought I could find the problem, but failed, could you send the screenshot you mentioned? Thank you.

[2019-10-17 02:24] zxdong262 commented on #19
@jilmartin Hi, since I have published new releases, I wonder if they fixed the problem.

[2019-10-18 00:48] SeaFist commented on #18
Hello @FilipinaW @zxdong262 . The RingCentral for Google Chrome Embeddable uses chrome as its source processing. @zxdong262 Would you be able to recognize and differentiate RC's embedabble in Task Manager so we can check and compare the Apps running vs CPU vs Memory Usage?

[2019-10-18 00:53] zxdong262 commented on #18
@SeaFist I think it is not a standalone process that can be seen in task manager.

[2019-10-18 00:54] zxdong262 commented on #18
@SeaFist @FilipinaW  How many contacts and deals you have?

[2019-10-18 12:55] FilipinaW commented on #18
@zxdong262  last version 8.2  won't even sync my contacts.. not sure what's going on.  It keeps on saying 'syncing contacts' in the bottom left corner all the time.  I also have issues with moving it around the page as it hid under the top black bar and can't move it from that spot - I think I'm going to roll back a version and see if those issues are gone.  We have 5500 people and 1930 organizati

[2019-10-18 17:51] FilipinaW commented on #18
@zxdong262 I will open a new tickets for the other 2 new issues.

[2019-10-18 17:54] FilipinaW opened #22 "Extension won't pick up syncronizing new contacts"
I've added a new contact, when I trigger syncing the message stays in the bottom left corner saying that it's syncing ->  it's there for a long time.  It never picks up new contact I just added.  I tried all the versions back to 7.6 - that is the version that finally synced my new contact to the extension. None of the versions under 8 worked for me.  I tried on my PC and laptop - with the same out

[2019-10-18 17:58] FilipinaW opened #23 "Extension hiding under Pipedrive's black ribbon on top of the screen"
When you move the extension over/on top of the black bar that's part of Pipedrive - the part of extension under it becomes invisible.  You lose access to all the menus and top extension bar that would let you move it back to a different place.  Even when I reinstalled it - it came back in the same place - I had to play around with chrome to gain access back to extension....

[2019-10-21 00:40] zxdong262 commented on #22
@FilipinaW Sorry for the problem,  I will fix ASAP

[2019-10-21 06:33] zxdong262 commented on #22
@FilipinaW Now resync fix, but still click another tab and click contacts tab again to show the updated contacts list. Will fix this in a few days, requires other team member's work.

[2019-10-21 07:43] zxdong262 commented on #22
@FilipinaW Done

[2019-10-21 08:48] zxdong262 commented on #23
v0.8.6 should fix now, thank you for the feedback! @FilipinaW

[2019-10-21 08:48] #23 closed

[2019-10-21 13:09] FilipinaW commented on #22
@zxdong262 still seem to have an issue.  Running 8.6.

[2019-10-21 23:49] zxdong262 commented on #22
@FilipinaW Can you share a screenshot of the problem and the browser console errors if possible? Thank you.

[2019-10-30 19:18] FilipinaW commented on #22
Hi @zxdong262 .  What is the status on the syncing issue?  We changed all hardware at our office, and I would like to install the extension for everyone - yet I can't seem to find past releases online as well.

[2019-10-31 13:19] zxdong262 commented on #22
@FilipinaW Can not reproduce.

[2019-11-07 19:57] FilipinaW commented on #22
with the last release 1.1.0 contacts get picked up on the contact tab, but do not match to the histoyr log.  I can't log any calls as this point.  See errors:
![image](https://user-images.githubusercontent.com/47257281/68422800-de8c7a00-016e-11ea-9608-911b86dd93be.png)

[2019-11-07 22:53] zxdong262 commented on #22
@FilipinaW Did you try reload the contacts? By click the reload icon?
<img width="345" alt="Screen Shot 2019-11-08 at 6 52 04 AM" src="https://user-images.githubusercontent.com/1641949/68434618-62d51080-01f4-11ea-8ded-0a88e28f15b7.png">

[2019-11-08 13:20] FilipinaW commented on #22
yes, multiple times.  Also.. the contacts that showed in the contact list yesterday that didn't sync to the call history log, are not there this morning.  Does it have to be reloaded every day?  Keep in mind we are on Canadian account, and I know there were some issues related to that in the past.

[2019-11-19 15:15] JPavey opened #25 "Call not logging 07 to +44"
When making a call directly from Pipedrive without the country code, its not logging, is there a workaround?

e.g. Person in Pipedrive has phone number 0123456789

Though when making the call through RingCentral its ringing through as +44123456789 so the call isn't being logged into the person onto Pipedrive after the call.

How would I go about fixing this?

[2019-11-19 19:45] zxdong262 commented on #25
Can you try click reload contacts in contacts panel? And make sure you are using the lastest release.

<img width="317" alt="Screen Shot 2019-10-23 at 9 49 56 AM" src="https://user-images.githubusercontent.com/1641949/69180370-27b5d400-0b48-11ea-85fd-0c0b3a8b104c.png">

[2019-11-19 19:49] FilipinaW commented on #22
Is there a possible fix coming?  The new extension is not matching any contacts to the log.  Is this a number format issue?  Is it Canadian account issue?  I'd love to have my company use the RC Chrome extension, as that was one of the reasons we purchased Pipedrive... but currently I can't install any of the new releases as they are not working.

[2019-11-19 20:16] zxdong262 commented on #22
@FilipinaW Do you have time to have a meeting with me?

[2019-11-19 20:39] FilipinaW commented on #22
sure

[2019-11-19 20:47] zxdong262 commented on #22
@FilipinaW Please send an email to drake.zhao@ringcentral.com, I will reply you the meeting link.

[2019-11-19 21:35] franklam2008 opened #26 "Syncing contacts and deals error"
it keeps trying to authorize in the ring central widget, and syncing deals and contacts back and forth.
![Screenshot (1)](https://user-images.githubusercontent.com/41360206/69188499-a67c2400-0aea-11ea-9f40-cd406d2ec4c2.png)

[2019-11-19 21:37] franklam2008 commented on #26
and showing no contacts and no data connected to this person.

[2019-11-19 21:44] zxdong262 commented on #26
Just released new version, can you try it?  https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v1.2.3

[2019-11-19 21:54] franklam2008 commented on #26
For sure. thank you Xudong.

[2019-11-19 21:56] franklam2008 commented on #26
Yeah, the syncing bug is fixed. great job, appreciate it!

[2019-11-19 22:32] franklam2008 commented on #26
Use another phone number to test it, it doesn't ask for a new contact, so I created one with the new number, but it doesn't sync with the ring central contact. I tried the 1.2.4 version but no luck.

![Screenshot (4)](https://user-images.githubusercontent.com/41360206/69192291-48ebd580-0af2-11ea-8ce0-07ec6e98806b.png)

[2019-11-19 22:55] zxdong262 commented on #26
@franklam2008 When you add new contacts, need click reload contacts button to sync new contacts.
<img width="317" alt="Screen Shot 2019-10-23 at 9 49 56 AM" src="https://user-images.githubusercontent.com/1641949/69193839-ab7cba00-0b62-11ea-8edf-03a2977e5a19.png">

[2019-11-20 22:06] franklam2008 commented on #26
Got it thank you! just a question that you probably thought of, why can't we put a script for an interval to update the contact every minute? you know sales reps are all not good at computer, they wont remember to refresh it everytime.

[2019-11-20 22:50] zxdong262 commented on #26
@franklam2008 Good idea! Maybe one hour, some user may have tens of thousands of contacts, I will think about this.

[2019-11-21 18:46] franklam2008 commented on #26
thank you, maybe just put an IIFE trigger contact refresh when the webpage refresh or starts.

[2020-02-26 00:37] zxdong262 commented on #26
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:37] #26 closed

[2020-02-26 00:37] zxdong262 commented on #25
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:37] #25 closed

[2020-02-26 00:37] zxdong262 commented on #22
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:37] #22 closed

[2020-02-26 00:38] #20 closed

[2020-02-26 00:38] zxdong262 commented on #19
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:38] #19 closed

[2020-02-26 00:38] zxdong262 commented on #17
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:38] #17 closed

[2020-02-26 00:39] zxdong262 commented on #10
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:39] #10 closed

[2020-02-26 00:39] zxdong262 commented on #7
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:39] #7 closed

[2020-02-26 00:39] zxdong262 commented on #5
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:39] #5 closed

[2020-02-26 00:40] zxdong262 commented on #4
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:40] #4 closed

[2020-02-26 00:40] zxdong262 commented on #2
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 00:40] #2 closed

[2020-02-26 00:41] zxdong262 commented on #18
Close it now, feel free to submit another if needed, feedbacks are always welcome.

[2020-02-26 04:05] cloudcomputercompany opened #27 "RC to Pipedrive - call log sync not working"
Newbie to this extension, so bear with me.
Have installed the xtension as per instructions, works as expected with users being able to make calls straight from pipe drive, but there is no record of the call going back to pipedrive.

Any thoughts?

Thanks.

[2020-02-26 07:07] zxdong262 commented on #27
Please check this post about auto log feature: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137 to see if you can get it done. Let me know if you still have problems. Feedbacks are always welcome, feel free to ask.

[2020-02-26 13:34] FilipinaW commented on #18
@zxdong262 you closed this ticket, but unfortunately it is still an issue.  I sometimes have to disable the extension because it's just too slow.  Should I open a separate ticket?

[2020-02-26 22:54] cloudcomputercompany commented on #27
Hi,

Thanks for the reply. Not seeing the Autolog calls in the RC settings.

Mathew

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <https://www.twitter.com/hofftek>

On Wed, 26 Feb 2

[2020-02-26 23:49] zxdong262 commented on #27
@cloudcomputercompany Can you give some screenshot about it? Or do you have time to have a meeting with me, you can send a email to drake.zhao@ringcentral.com, with your timezone and avaiable time range, I will shedule the meeting and send you the meeting link.

[2020-02-27 00:03] cloudcomputercompany commented on #27
Hi,

Managed to get it up and running on one device. I have a few more to go. Is
there anything that can block the extension?

Mathew

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <

[2020-02-27 00:40] zxdong262 commented on #27
@cloudcomputercompany Make sure you **turn off** `Block third-party cookies` in `chrome://settings/content/cookies`, by default it is **off**

[2020-02-27 02:49] cloudcomputercompany commented on #27
Thanks that worked, however calls not being logged.

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <https://www.twitter.com/hofftek>

On Thu, 27 Feb 2020 at 11:40, ZHAO Xudong <notif

[2020-02-27 06:13] zxdong262 commented on #27
@cloudcomputercompany Do you have time to have a meeting with me, you can send a email to drake.zhao@ringcentral.com, with your timezone and avaiable time range, I will shedule the meeting and send you the meeting link.

[2020-02-27 06:22] cloudcomputercompany commented on #27
I'm have had to escalate this... Matt Wilson is my partner manager for
ringcentral here in Australia. Matt will be reaching out  to you.

BTW is there a mobile version of your app?

Mathew

On Thu, 27 Feb 2020, 5:13 pm ZHAO Xudong, <notifications@github.com> wrote:

[2020-02-28 00:55] zxdong262 commented on #27
No, there is no mobile version for this extension, I have created another video to show how it works, it may helps: https://youtu.be/lhjPLU95B6Q

[2020-02-28 01:04] cloudcomputercompany commented on #27
Thanks.. I will give it a go.

Mathew

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <https://www.twitter.com/hofftek>

On Fri, 28 Feb 2020 at 11:55, ZHAO Xudong <notifications@githu

[2020-03-07 16:26] ansonlau89 opened #28 "How do I sync Ringcentral SMS and calls to Pipedrive Deals?"
I installed ringcentral and it's not working?

I'd like to see all the call logs and text messages between a client that is linked to that deal / phone number.

[2020-03-08 01:54] zxdong262 commented on #28
The video: https://youtu.be/lhjPLU95B6Q, and the guide about auto log: https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/137 may help, let me know if you follow the video and the guide and still can not get it work, then we can have a meeting to check why it do not work, send your timezone and available time to zxdong@gmail.com.

[2020-03-08 19:09] cloudcomputercompany commented on #27
Hi,

Have been doing some more testing and it appears that when a call is made
from the extension, it is adding the call data to the wrong pipe drive
contact.

Attached are screen shots.

Mathew

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: Li

[2020-03-08 22:49] zxdong262 commented on #27
@cloudcomputercompany Images from email will not show in github issue.

[2020-03-09 02:02] cloudcomputercompany commented on #27
Ok so how can I send the pic to you so you can view?

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <https://www.twitter.com/hofftek>

On Mon, 9 Mar 2020 at 09:49, ZHAO Xudong <notif

[2020-03-09 03:42] zxdong262 commented on #27
@cloudcomputercompany youcan directly send email to my email address zxdong@gmail.com or upload image in github issue.

[2020-03-18 03:03] isabelelam opened #29 "Pipedrive calls and sms syncing to contact file instead of the deal"
I need calls and text messages to sync to deals instead everything is syncing to the contact associated to the deal.  How do i fix this?

[2020-03-18 11:59] zxdong262 commented on #29
currently It will sync to all the contacts has the callee or caller number, and the latest updated deal associated to these contacts, only one deal for one contact. Is this enough for you? Or you want to sync to all deals associated to one contact? Or you must to stop syncing log to contact?

[2020-03-18 17:46] isabelelam commented on #29
That would be enough – I made sure I only have one deal per contact but the data is not pulling into the deal :(  I have tried to install older versions as well but I can’t figure out the disconnect

[cid:image001.png@01D5FD23.34400070]

MEET MY TEAM:
Holley Fickes | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesboro, TN 37129
Office: 615.965-440

[2020-03-19 02:28] zxdong262 commented on #29
How many deals do you have in total?

[2020-03-19 03:03] isabelelam commented on #29
About 700…

[cid:image001.png@01D5FD71.152166E0]

MEET MY TEAM:
Holley Fickes | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesboro, TN 37129
Office: 615.965-4402 | Fax: 615.807.3830 | Email: hfickes@cmgfi.com<mailto:hfickes@cmgfi.com>

Linda Pollock | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfre

[2020-03-19 03:26] zxdong262 commented on #29
Can you try the latest release https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases

[2020-03-19 03:26] zxdong262 commented on #28
Can you try the latest release: https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases

[2020-03-19 03:27] zxdong262 commented on #27
Close it now, feel free to submit another one if needed.

[2020-03-19 03:27] #27 closed

[2020-03-19 03:42] isabelelam commented on #29
It won’t load – I tried a bunch of times…

[cid:image004.jpg@01D5FD76.8CF6A400]
[cid:image003.png@01D5FD76.899E9F60]

MEET MY TEAM:
Holley Fickes | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesboro, TN 37129
Office: 615.965-4402 | Fax: 615.807.3830 | Email: hfickes@cmgfi.com<mailto:hfickes@cmgfi.com>

Linda Pollock | Loan Officer Assistant
CMG F

[2020-03-19 04:25] cloudcomputercompany commented on #27
Thanks for your help

<https://www.cloudcomputercompany.com.au/>
Mathew Hoffman  |  CEO & Cloud Specialist
1800 312 972
mathew@cloudcomputercompany.com.au
[image: Facebook] <https://www.facebook.com/cloudcomputerco>
[image: LinkedIn] <https://www.linkedin.com/thehoff>
[image: Twitter] <https://www.twitter.com/hofftek>

On Thu, 19 Mar 2020 at 14:27, ZHAO Xudong <notifications@github.com> wrote:

[2020-03-19 04:32] zxdong262 commented on #29
have you removed the old one?

[2020-03-19 04:33] zxdong262 commented on #29
Can not see pics from email in github issue, you can send email directly to zxdong@gmail.com

[2020-03-19 04:34] isabelelam commented on #29
yes I did

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: ZHAO Xudong <notifications@github.com>
Sent: Wednesday, March 18, 2020 11:32:56 PM
To: ringcentral/pipedrive-embeddable-ringcentral-phone-spa <pipedrive-embeddable-ringcentral-phone-spa@noreply.github.com>
Cc: Isabel Elam <ielam@cmgfi.com>; Author <author@noreply.github.com>
Subject: Re: [ringcentral/piped

[2020-03-19 04:35] zxdong262 commented on #29
Can you have a meeting with me?

[2020-03-19 04:38] isabelelam commented on #29
Sure…

[cid:image001.png@01D5FD7E.531CF150]

MEET MY TEAM:
Holley Fickes | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesboro, TN 37129
Office: 615.965-4402 | Fax: 615.807.3830 | Email: hfickes@cmgfi.com<mailto:hfickes@cmgfi.com>

Linda Pollock | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesbor

[2020-03-19 04:56] zxdong262 commented on #29
@isabelelam Have sent you the meeting link, you can join when you can. I will just leave it open.

[2020-03-19 14:01] zxdong262 commented on #29
@isabelelam Can you send me your available time and timezone? We can schedule another time.

[2020-03-19 15:21] ansonlau89 commented on #28
Not working. Contacts are not syncing at all. I followed your video.

[2020-03-20 00:50] zxdong262 commented on #28
Can we have a meeting to check why it do not work? If you can, please send your timezone and available time to zxdong@gmail.com, I will schedule a meeting and send you the meeting link. @ansonlau89

[2020-03-22 15:08] isabelelam commented on #29
Very sorry for delayed response.  I am on Central time (for future reference) but the latest version is working!!

[cid:image001.png@01D60031.D2886540]

MEET MY TEAM:
Holley Fickes | Loan Officer Assistant
CMG Financial | Corporate NMLS# 1820 | 3202 Memorial Blvd, Ste B | Murfreesboro, TN 37129
Office: 615.965-4402 | Fax: 615.807.3830 | Email: hfickes@cmgfi.com<mailto:hfickes@cmgfi.com>

Linda Pol

[2020-03-27 17:40] meat-ball opened #30 "1.41 zip is pointing to 1.4"
the most recent zip assets are pointing to the previous. Thanks

[2020-03-27 18:29] zxdong262 commented on #30
Updated, thank you for the feedback

[2020-03-27 18:29] #30 closed

[2020-03-30 21:38] meat-ball opened #31 "1.41 is still pointing to 1.40"
![image](https://user-images.githubusercontent.com/5460919/77964536-0e5e2a80-7294-11ea-9af3-8fdb428fce5d.png)

[2020-03-30 23:30] zxdong262 commented on #31
Sorry, should be fixed now

[2020-03-30 23:30] #31 closed

[2020-04-03 18:14] CPRENO opened #33 "Is it possible to sync call records to related records?"

[2020-04-03 20:10] zxdong262 commented on #33
What do you mean by "call records"? what is "related records"?

[2020-04-04 04:50] CPRENO commented on #33
If an outbound or inbound call is made and recorded at the end of the call the record audio file gets upload as a file with timestamp. Hope I was able to clarify and answer your question!

Thanks love what’ve done.

[2020-04-17 22:17] vaeg opened #35 "RingCentral x Pipedrive | Issues with browser navigation, calls being logged to wrong Pipedrive account."
Hi, I would like to raise some concerns from a customer:

- RingCentral - Browser Inconvenience, Desktop phone looking better, Prompting even though Phone is the default for calls
- Issues with browser navigation, and when we switch to the default phone app, it gives us pop up to ask what phone you would like to use any time.
- Ring Central - Hourly Updates, Ring Central Savings calls to wrong acc

[2020-04-19 20:34] zxdong262 commented on #35
@vaeg For Q3/Q4/Q5, calls will be logged to all matched numbers, callee or caller, if the situation is logged to wrong person without callee or caller number, we can have a meeting to check it.
For Q7, yes, you can turn it on from setting, you can check the video.

For Q1, not a quesion, I can not answer.
For Q2, @embbnux Can you confirm this?
For Q6, Yes, this is not good user experience, I will

[2020-04-21 17:04] vaeg commented on #35
@zxdong262 let us know about your availability so we can discuss the issues encountered with pipedrive.

For **Q7**, even if it's set to log calls/messages automatically, it will still need to click "Log to Pipedrive"

[2020-04-21 22:20] jguliker opened #36 "Pipe Drive web application messed up with the last 2 versions"
With the last 2 updates the Pipedrive contacts list: contacts overlap, The activities page some lines are missing etc...
It all works good when I turn off the Ring Central chrome extension.

![capture 2](https://user-images.githubusercontent.com/58612802/79919630-9d69e880-83e3-11ea-9502-d399494a1e0d.jpg)

[2020-04-22 02:58] zxdong262 commented on #36
Released 2.0.3 to fix it, thank you for the feedback!

[2020-04-22 10:01] #36 closed

[2020-04-28 22:12] Sil73 opened #37 "Notes section"
When calling via RingCentral to a Pipedrive contact, the note section does not automatically save to the contacts file when the call is finished. I have to go to history and enter it that way for it to save.

![image](https://user-images.githubusercontent.com/64503473/80542726-e841bc80-89f0-11ea-83ee-e5ea19480534.png)

![image](https://user-images.githubusercontent.com/64503473/80542792-06a7b800-8

[2020-04-28 22:12] jin-fhg opened #38 "PipeDrive Logging Issue"
Hello @zxdong262

I would like to raise a strange issue from one of our RingCentral customers. The issue is that when they initiate an outbound call, the log does not save to the contact person's activity history, but it is being saved in their company contact record. I have a video of this issue attached to this case as well as the console and HAR files.

[allinoneconsulting-096b17.pipedrive.com-

[2020-04-28 22:43] zxdong262 commented on #38
Can we have a meeting to check it?

[2020-04-28 23:01] zxdong262 commented on #38
The only possible situation I can think of is the all in one contact previously had the number, then removed, but the data not syned.

[2020-04-29 05:02] zxdong262 commented on #37
@Sil73 Have you turn the auto log on in setting? And it take a few seconds to wait for the sync event to come. If you already turn it on and waited but still no auto sync, that is somgthing I can not reproduce, then can we have a meeting to check it? If you can, please send a email to zxdong@gmail.com with your available time and timezone, do not post here, meeting link can only be sent with email

[2020-04-29 10:02] embbnux commented on #35
Hi @vaeg, can you show screenshot of Q2. Do it mean you are using RingCentral Phone Desktop app with this widget?

[2020-04-30 16:56] jin-fhg commented on #38
I see. May I know your availability for the meeting and I will coordinate with the user?

[2020-04-30 16:59] jin-fhg commented on #38
According to the customer, the best time is either 10 AM or 1 PM EST. Which one do you prefer?

[2020-04-30 20:54] jin-fhg commented on #38
I have scheduled it a 1 PM EST. Please check you email for the meeting invite

[2020-04-30 21:02] zxdong262 commented on #38
@jin-fhg OK, see you then

[2020-05-01 03:40] Sil73 commented on #37
@zxdong262 I have the auto log calls and auto log messages on. Will send you an email to discuss further.

[2020-05-01 03:42] #37 closed

[2020-05-01 21:57] 8jwiener commented on #29
Hello, zxdong, I also am encountering this same problem. Want to be able to make a call to a contact linked to a deal and then log the call and have it show up inside the Deal activity. We do have multiple contacts associated with multiple deals.....

[2020-05-02 02:01] zxdong262 commented on #29
@isabelelam Great, goog to know

[2020-05-02 02:01] zxdong262 commented on #29
@8jwiener Currently Pipedrive api only support creat activity with one contact and one deal, due to this limit, log can only be syned to latest deal the linked to the contact.

[2020-05-05 13:12] jin-fhg commented on #38
Thank you @zxdong262

[2020-05-05 13:12] #38 closed

[2020-05-15 20:54] jkushner opened #39 "Auto syncing not working"
Installed this extension and see it in the lower right of my window when inside pipedrive, but the following features don't seem to work:
1. Auto sync call logs/recordings to contacts - after recording a call and hanging up, no record of it appears in the contact's timeline. I waited about 10 minutes and kept refreshing, nothing is posted.

2. Auto sync of SMS to contacts - after sending an sms to

[2020-05-16 08:54] zxdong262 commented on #39
Have you turn the auto log on in setting page?

[2020-07-24 18:35] kwarrington opened #42 "SMS and Calls - going to random accounts"
This is only happening with one phone number.  It is going into Dino's account which is correct, but also in Null and then all of these other random accounts.
![2020-07-24_13-29-02](https://user-images.githubusercontent.com/64229487/88424073-8952d000-cdb2-11ea-8472-25cea61aea16.png)

[2020-07-25 14:15] zxdong262 commented on #42
Are you using latest release?

[2020-07-25 16:00] kwarrington commented on #42
We have more than one user.  I know the one that reported the issue is on the latest release, but a user that doesn't use Pipedrive that often might be on the previous release.

Sent from my iPhone

On Jul 25, 2020, at 9:16 AM, ZHAO Xudong <notifications@github.com> wrote:

?

Are you using latest release?

-
You are receiving this because you authored the thread.
Reply to this email directly, vie

[2020-07-25 19:00] zxdong262 commented on #42
@kwarrington I can not reproduce this issue in latest release, old release do have this bug, can you confirm it is caused by the user using latest release or other user using old release?

If confirmed it is leatest release, can we have a meeting to check it? If you can, pelase send me available time/timezone to drake.zhao@ringcentral.com

[2020-07-25 19:02] kwarrington commented on #42
Ok.  Thanks.  We will make sure to upgrade other user.

Sent from my iPhone

On Jul 25, 2020, at 2:01 PM, ZHAO Xudong <notifications@github.com> wrote:

?

@kwarrington<https://github.com/kwarrington> I can not reproduce this issue in latest release, old release do have this bug, can you confirm it is caused by the user using latest release or other user using old release?

If confirmed it is leat

[2020-08-07 14:26] TNDevSupport opened #44 "Call/SMS Log saved in a different Deal Card"
Hi,

I'm currently using v2.6.1 and noticed that Call/SMS Log is being saved in a different Deal Card. Also, some of our users don't use RingCentral but their Deal Card is also affected. How can I resolve this once and for all?

[2020-08-10 09:43] zxdong262 commented on #44
@TNDevSupport

Can you check if anyone in your company using old release older than 2.6.0? If so it may happen due to known bug, just make sure everyone use latest release, it will not happen again.

If no one in your team use old 2.5 or older release, then it is a some new situation I do not know. Then can we have a meeting to check it? You can send me your available time/timezone to drake.zhao@r

[2020-08-15 19:54] roozbehk opened #45 "Having issues with my build - Uncaught TypeError: Cannot read property 'replace' of undefined"
Hi All,

I am running  command ```npm i``` ```npm run pack``` , upload the dist folder to chrome and I am getting this error which is causing the extension not to work. i only changed the following in config.js

    clientID: '****',
    clientSecret: '***',

and
   serviceName: 'PipeDriveCRM'

I am using Node version v12.18.3

[2020-08-16 23:52] zxdong262 commented on #45
Sorry @roozbehk , I missed one prop in config.default, you can pull latest code, it will be fine.

[2020-08-16 23:52] #45 closed

[2020-08-17 18:45] roozbehk opened #46 "How I get the embed to work with platform.devtest.ringcentral.com"
Hi I like to use my own clientID and SecretID, but in order to submit my app for production, i need to make some calls through the sandbox. I have changed the appServer to :  platform.devtest.ringcentral.com and compiled the extension. when I sign in I can not get the Oauth to return and redirect, I am getting following error when tyr to sign in.

[code]

I have included the https://ringcentral.gi

[2020-08-19 21:09] roozbehk commented on #46
Hello, is there a forum that i can get assistance with this?

[2020-08-20 12:01] zxdong262 commented on #46
Check this https://github.com/ringcentral/hubspot-embeddable-ringcentral-phone/issues/209#issuecomment-665351544

Also, you can directly use all api from https://developers.ringcentral.com/api-reference to fufill the production requirement

<img width="1440" alt="Screen Shot 2020-08-20 at 7 59 17 PM" src="https://user-images.githubusercontent.com/1641949/90767366-adf18780-e31f-11ea-8b4b-65139267a4

[2020-08-20 12:01] #46 closed

[2020-08-31 01:56] #42 closed

[2020-08-31 01:56] #44 closed

[2020-08-31 01:56] #39 closed

[2020-09-01 21:46] TNDevSupport opened #48 "Pipedrive SMS Log marked as DONE even if it's still unread in RingCentral"
Call and SMS logs work well after the last update. Pipedrive Deal Cards has a notification system if there's any missed call or unread SMS. Right now, all SMS are instantly logged as DONE with a green check even if it's still unread. Can we make that work that way?

[2020-09-02 10:43] zxdong262 commented on #48
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases
In latest release, fixed it.

Thank you for the feeedback

[2020-09-02 10:43] #48 closed

[2020-09-02 14:19] TNDevSupport commented on #48
Wow, I just want to thank you for the quick revert. You guys are amazing!

[2020-09-02 14:21] TNDevSupport opened #49 "Include Missed Calls and Unread Voice Mail as "Not Done" Status in Pipedrive Call Logs"
Please include Missed Calls and Unread Voice Mail as "Not Done" Status in Pipedrive Call Logs.

You guys are amazing, less than 24-hour turnaround for creating updates!

[2020-09-09 12:51] StrategTech opened #50 "Logging to Organization Number"
First of all, love this project! Thank you for working on this.

Wondering if you're able to setup a log to organization if no direct number is present. For example, we have many organizations that have a "main number" that could just be the 800 number but, in this case, the system will not log anything due to no contact being present. Is it possible to attach? Let me know if you need more details

[2020-09-10 00:59] ansonlau89 opened #51 "Calls and logs not logging on to Pipedrive"
I've updated to the latest Ringcentral plugin for Pipedrive. Turned on/off on the SMS and Call logs, it's still not logging anything on my deals.

This happened after Pipedrive changed to their new interface.

Anything I am missing here?

[2020-09-10 01:40] zxdong262 commented on #50
@StrategTech

Can you create a contact with the main number? The call log function will only log to the contacts with the same phone number.

[2020-09-10 02:34] zxdong262 commented on #51
@ansonlau89 I will check, thank you for the feedback

[2020-09-10 07:41] zxdong262 commented on #49
Finally done: https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v2.11.0
Thank you for the feedback! @TNDevSupport

[2020-09-10 07:41] #49 closed

[2020-09-10 07:42] zxdong262 commented on #51
As I tested, log will be syned to only one deal, due to PipeDrive api only support only sync to only to one deal.

[2020-09-10 14:53] ansonlau89 commented on #51
So did it get fixed?

I used to see all the SMS/call logs on each deal on the old interface. But not anymore.

[2020-09-10 18:04] zxdong262 commented on #51
@ansonlau89 Do you mean currently it sync log to only one deal of the contact?

[2020-09-25 22:55] nellyr13 opened #52 "calls and text messages are not logging in under correct deal in Pipedrive"

[2020-09-29 17:25] kwarrington opened #53 "SMS messages are going to a random customer deal on each message"
sms messages are going to the correct contact and the correct customer, but it is also going to a random customer deal every time.

![image](https://user-images.githubusercontent.com/64229487/94592262-8363ea00-024e-11eb-8fc5-0f3b551f491f.png)

[2020-09-30 01:30] zxdong262 commented on #53
Removed log to deal function:
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v2.11.2

[2020-09-30 01:30] #53 closed

[2020-09-30 01:30] zxdong262 commented on #52
Removed log to deal function:
https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/releases/tag/v2.11.2

[2020-09-30 01:30] #52 closed

[2020-10-21 21:54] nellyr13 opened #54 "calls and text messages synced under person instead of deal"
It used to sync calls and texts under Deals in Pipedrive but I just noticed that everything is being saved under person. How do i sync calls and text messages under Deal again?

[2020-10-21 23:48] zxdong262 commented on #54
@nellyr13 Currently it only sync to one deal, but we do not know which deal is one the user want to sync to, so we have to removed syncing to deal function.

[2020-10-27 02:54] nellyr13 commented on #54
Is there a way to attach calls and text messages to deals again instead of
a person? I use 1 deal per person.

On Wed, Oct 21, 2020 at 7:48 PM ZHAO Xudong <notifications@github.com>
wrote:

[2020-11-17 20:47] vaeg opened #55 "Sync mobile calls as events in Pipedrive"
Is there a way for us to **sync mobile calls** using the RingCentral app? _(most of them are mobile users and want sync call logs in pipedrive as an event to whichever associated contact it should be recorded)_

Thanks!

[2020-12-15 21:22] TNDevSupport opened #57 "Call and SMS Logs are no longer being synced to Pipedrive"
We're using the newest Extension and it's no longer logging Calls and SMS. Not on deals and the Contact card.

[2020-12-16 03:04] zxdong262 commented on #57
Release new version, can you try it?

[2020-12-17 20:11] TNDevSupport commented on #57
Hi,

That worked. Call/SMS Log now synced with the Contacts Card. Any chance to put it back the Deal Card?

[2020-12-21 07:00] zxdong262 commented on #57
@TNDevSupport Pipedrive API support create call log with one contact and one deal, just we could not know which deal is the one user really want, got complain about this, that is why log to deal is removed.

[2020-12-22 18:03] jdesperida commented on #54
Wondering the same thing, is there a way to link SMS to a deal? Thanks.

[2020-12-23 00:28] zxdong262 commented on #54
@nellyr13 @jdesperida I have an idea now, I would add a switch in option so user can choose sync log to deal or not. Maybe next release.

[2021-02-11 16:47] user1734 opened #58 "ring tones on extension"
is there a way to change the ringtone on the extension or at the least lower the volume on it?

Thanks,

[2021-02-25 18:34] sanderpoint commented on #57
Is there any option being worked on that will allow for sync to deal card again?

[2021-02-26 12:05] zxdong262 commented on #57
@sanderpoint I may investigate this, may take some time

[2021-03-10 15:01] FilipinaW opened #61 "Call syncing to the wrong contact"
When we have multiple contacts with the same main company number as their phone number, calls are being logged to the wrong contact, even though the right contact name is picked from the drop down name.

[2021-03-11 00:27] zxdong262 commented on #61
@FilipinaW Always sync to all contacts match the phone number, dropdownis not related.

[2021-03-11 14:58] FilipinaW commented on #61
Can that feature be added, and what is the point of the dropdown in this case?  These activities logged are not very useful if we can't log them against the right contact.    Below call was from David, got logged against Jeff, and listed ALL contacts on the account with this number:
![image](https://user-images.githubusercontent.com/47257281/110806675-487bce80-8250-11eb-9e17-360031657547.png)

[2021-03-12 01:09] zxdong262 commented on #61
@FilipinaW Isee,will improve this, may take some time, thank you for the feedback.

[2021-04-01 17:02] FilipinaW opened #63 "Log not matching to contact entry again"
I think we had this issue in the past.  Log shows 'Unknow' and extension is asking to add a new contact, even though it exists with that number.  I have screenshots but don't want to post here as this is our customer's contact number.

[2021-04-28 20:08] LVCHelp opened #65 "Inbound calls server delay issues?"
Hi All,

We just got off the phone with RC. We're experiencing long delays in inbound calls so they're not syncing. Anyone have any help?

<img width="349" alt="error1" src="https://user-images.githubusercontent.com/83370636/116465966-8bf7bf80-a833-11eb-8c48-82d65b134f81.PNG">

[2021-05-19 19:06] isabelelam opened #69 "Calls and sms sync to contact instead of Deal"
Calls and sms no longer syncing to Deal - everything is linking to the contact instead.  this has happened before but no idea how it was fixed. Do we have to go back to a previous version?

[2021-06-15 16:29] alexgoldsilver commented on #54
I would also love to see this addressed.  Some ideas:  Can the link in the extension pass the page URL (i.e. the deal number that can be extracted from it) to the extension for sync purposes?  that way if you are on a deal page and click the call button, it is logged?  Also, can it be registered as a default call handler on the deal page, say via Javascript function on the "custom" call handler in

[2021-07-06 14:48] nellyr13 commented on #69
@isabelelam - did you ever get an answer to your Q? I am having the same issue

[2021-07-06 18:10] isabelelam commented on #69
No ☹

***@***.***D77270.A1F1F010]
Corporate Website<https://nam12.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.cmgfi.com%2F&data=04%7C01%7Cielam%40cmgfi.com%7C2f1ca6ccc9b04d8de9be08d909d9c18b%7C57d88166f2474deea6f9e6359f96ff2c%7C0%7C0%7C637551653134056967%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=ZNF%2B1jJVHg7%2F6R2EK9%2FE3IQC

[2021-07-15 00:59] zxdong262 commented on #69
@nellyr13 @isabelelam Sorry for the late response, the latest release would give an option to select which deal to sync to when showing sync panel after call ends.

[2021-09-28 03:14] albertTheCRMuser opened #77 "I'd like the call list of my day to be shown in my RC app"
So I make calls to customers every day. I got the list assigned from my manager each day/week, and the job is to make call to them and decide the next step for them.
So if I could just see my call list of "TODAY" in the phone, and just dial from there, that would be super! Even more, if I could put some customized disposition field and comment field in the call control page, I think I could just w

[2021-11-30 00:40] bubblabu opened #82 "Record not opening in Pipedrive"
My understanding is that the contact record should open up if we receive a call from someone with a match to the CID in our contacts. This isn't happening. I can get it to work once, but then nothing. I'm getting all sorts of errors in the Chrome "Manage Extensions" for this app. I'm not technical in this area and have no idea what these errors mean - if anything regarding my issue. Pipedrive is o

[2021-11-30 02:32] zxdong262 commented on #82
@bubblabu If not popup, could be contact not synced, you can check it by search the name it in contact list in widget, make sure turn of pipedrive filter, if can get result, then the contact not synced, you can try manully sync it by click reload contact button.

And you can ignore errors in extension console.

Let me know it this resolves, if not please send email to drake.zhao@ringcentral.com, w

[2021-11-30 18:30] bubblabu commented on #82
Hello,

Thank you, but Contacts are synced and it’s still not working

From: ZHAO Xudong ***@***.***>
Sent: Monday, November 29, 2021 18:33 PM
To: ringcentral/pipedrive-embeddable-ringcentral-phone-spa ***@***.***>
Cc: Christopher Huebner ***@***.***>; Mention ***@***.***>
Subject: Re: [ringcentral/pipedrive-embeddable-ringcentral-phone-spa] Record not opening in Pipedrive (Issue #82)

@bubblabu<h

[2021-12-23 00:29] arubyit opened #83 "Ringcentral Ribbon Stuck on Screen"
We are running this plugin with several users, many of which are having an issue where the ringcentral ribbon that pops up over phone numbers will get stuck on the screen until the page is refreshed. We have tried updating versions, changing browsers, using older versions, and checking all supporting software is up to date. I've looked through active/closed issues and found no documentation anywhe

[2021-12-23 06:36] zxdong262 commented on #83
@arubyit Have you tried the v3.5.0, just released a few hours ago.

[2021-12-23 18:41] caseyrankin opened #84 "Errors - hovering over phone number not doing anything"
Getting errors with latest version and it is not showing the call option with ring central when hovering over a phone number

![image](https://user-images.githubusercontent.com/1229043/147280335-b7b33a4e-476b-498d-98ba-950b4c3eab2b.png)

[2021-12-25 08:41] zxdong262 commented on #84
Confirm resolved by v3.5.1

[2021-12-25 08:41] #84 closed

[2022-01-13 20:26] arubyit commented on #83
FYI - Both 3.5.0 and 3.5.2 did not fix the floating ribbon.

[2022-01-14 10:26] zxdong262 commented on #83
@arubyit Can you provide a screenshot?

[2022-03-21 13:47] levohealth-dmw opened #89 "Users aren't able to send SMS messages."
Manifest version 2 is deprecated, and support will be removed in 2023. See https://developer.chrome.com/blog/mv2-transition/ for more details. The error that caused us to look at  the chrome extension errors was:

You don't have permission to send messages to recipients outside of your organization.

Error details:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31

[2022-03-23 01:05] zxdong262 commented on #89
@levohealth-dmw

About the extension page errors, lease ignore the errors, not related.

About the error message: "You don't have permission to send messages to recipients outside of your organization.", please contact RingCentral customer service: https://support.ringcentral.com/

[2022-04-04 20:52] marksorin93 opened #92 "Issue with sync to a deal"
Hello,

Seems like the same list of deals on the "synt to a deal" dropdown is showing to any contact I'm trying to time stamp with the log.

I can't really figure out how to show the new deals or, how to show the deal linked to the contact showed.

Any thoughs?

Thank you,

[2022-04-12 17:28] Ohtee31 opened #94 "how to get RingCentral to sync sms and call logs to a DEAL in Pipedrive"

[2022-05-25 23:26] neilscholtz opened #97 "Logs not created on contact when using custom phone field/s in PipeDrive"
If a custom phone field is created on the Person object in PipeDrive, the ability to phone or text is still available when hovering over the phone number.

However, the logging of that activity does not happen. It does not get logged to that contact Person.

I believe that the API call used to find the contact is this one: `/persons/search?term=<string>&fields=phone`
This limits the search for the

[2022-06-02 14:05] CoCraig opened #98 "Sync call log message from a deal to "participants" and not to the "person"."
Pipedrive defines [participants](https://support.pipedrive.com/en/article/participants)

[2022-06-08 03:59] zxdong262 commented on #98
Checked docs and UI, and tested, confirmed can not do this, since filter condition support person, do not support participant

[2022-06-08 04:00] #98 closed

[2022-07-14 18:06] ammontagna opened #101 "Sync to Deal - no dropdown showing"

[2022-07-28 14:21] learis22 opened #103 "Issue with Sync contacts"
We already have the latest version of Pipedrive for RingCentral which is v3.6.8.
Not all contacts are being sync in the widget.
Due to this calls are not being logged as well
[RingCentral.log](https://github.com/ringcentral/pipedrive-embeddable-ringcentral-phone-spa/files/9210511/RingCentral.log)
.

[2022-10-12 13:58] cavan-mitchell commented on #103
I'm also have issues syncing contacts from pipedrive to ringcentral. Is there any support for this?